body {
  padding: 100px;
}
.content {
  width: max-content;
  margin: 0 auto;
}
.content ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none;
}
li {
  padding: 0 30px 0;
}
.content.open ul {
  display: block;
}
.content span {
  cursor: pointer;
}
span,
li {
  font-size: 50px;
}
.content span::before {
  content: '▶ ';
  font-size: 80%;
  color: green;
}
.content.open span::before {
  content: '▼ ';
}
